$yellow:#a79c0d;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
} 


/*header*/


.jumbotron {
    background-image: url(../images/hostel_trans.jpg) ;
    background-position: bottom center;
    background-size: cover;
    height: 80vh;
    text-align: center;
    
}

.redes-sociales{
    margin-top: 23px;
    color: white;
    font-size: 2rem;
}

.redes-sociales a {    /* O "a" indica uma etiqueta dentro da classe, nesse caso a tag link*/
    color: rgb(12, 12, 12);
    font-size: 2rem;
    margin: 1px;
}

.text-jb{
    padding-top: 50px;
}

.text-jb h2{ 
    font-family: 'Barrio', cursive;
    font-size: 60px;
    color: rgb(12, 12, 12);
}

.text-jb span{ 
    font-size: 60px;
    color: rgb(12, 12, 12);
}

.text-jb h5{ 
    font-size: 25px;
    color: rgb(12, 12, 12);
}

/*header*/

/*footer*/

footer {
    padding: 20px 40px 20px 40px;
    background-color:rgba(243, 241, 237, 0.918);
    margin-top: 70px;
    margin-bottom: 0px;   
}


.footer-address-icon {
    padding-right: 10px;
    color:rgb(36, 35, 35);
}

h6 {
    color:rgb(36, 35, 35);
}
/*footer*/

/*home*/

.card-hotel {
    flex: 1 150px;
    padding: 5px 5px 5px 5px;
    @include margenes(40px, 0px); 
}

.card_body {
    margin-bottom: 20px;
}
.btn-reserva {
    background-color:rgba(245, 142, 8, 0.918);
    color:white;
    margin-right: 10px;
    margin-left: 25px;
    
}

.row-perguntas {
        text-align: center;
}

.row-respostas {
    text-align: center;
}

.carousel-slide {
    margin-top: 50px;
}
/*home*/

/*precios*/

.star-icon{
    color:$yellow;
    
}
/*precios*/